---
import { getColor } from '../../utils/heroCategories';
import { resolveImagePath } from '../../utils/imagePath';
import { normalizePostData } from '../../utils/postHelpers';
import type { Post } from '../../utils/getPosts';
// 설정 파일 불러오기
import { SITE_INFO } from '../../constants/siteConfig';

interface Props {
  posts?: Post[];
}

const { posts = [] } = Astro.props;
---

<div class="col-md-4 col-12">
  <h2 class="section-title">{SITE_INFO.featured.trendingTitle}</h2>
  
  <div class="trending-posts">
    {posts.map((post) => {
      const normalized = normalizePostData(post);
      const categoryColor = getColor(post.data.category);

      return (
        <article key={post.id} class="trending-item card-bg card-shadow">
          <div class="card-body">
            <a href={normalized.url} class="category-link" style={`color: ${categoryColor};`}>
              {normalized.category}
            </a>
            <a href={normalized.url}>
              <h3 class="trending-heading">{normalized.title}</h3>
            </a>
            <ul class="card-meta list-inline">
              <li class="list-inline-item">
                {normalized.readingTime} {SITE_INFO.posts.readingTime}
              </li>
              <li class="list-inline-item">
                {normalized.dateShort}
              </li>
            </ul>
          </div>
        </article>
      );
    })}
  </div>
</div>
