---
import { Image } from 'astro:assets';
import SocialLinks from '../constants/socialLinks'
import logo from '../assets/logo.png'
import { SITE_INFO } from '../constants/siteConfig'; // 설정 불러오기
---

<footer class="footer-wrapper">
  <div class="footer">
    <a href="/">
      <Image
        class="footer-logo"
        src={logo}
        alt={`${SITE_INFO.title.main}${SITE_INFO.title.sub} 로고`}
        width={100}
        height={100}
      />
    </a>

    <SocialLinks client:load styleClass="footer-icons" />
    <div class="footer-links">
      <div><a class="footer-link" href="/privacy-policy"> Privacy Policy </a></div>
      <div><a class="footer-link" href="/terms-and-conditions">Terms and Conditions</a></div>
    </div>

    <p class="footer-copyright">
      &copy;{SITE_INFO.footer.startYear}-{new Date().getFullYear()} {SITE_INFO.footer.copyrightHolder}. All rights reserved.
    </p>
  </div>
</footer>

<style>
  /* 스타일은 기존 코드 유지 */
</style>
